

body {
  padding-top: 120px;
  height: 100%;
  background-color: #f5f5f5;
}

.listings {
  position: relative;
  width: 800px;
  left: 40px;
}

#listingHost {
  width: 100px;
  text-align: center;
  position: absolute;
  top: 20px;
  right: 500px;
}

#listingsMap {
  position: absolute;
  left: 900px;
}

.two-col-special {
    overflow: auto;
    margin: 0;
    padding: 0;
}

.two-col-special li {
    display: inline-block;
    width: 45%;
    margin: 0;
    padding: 0;
    vertical-align: top; /* In case multi-word categories form two lines */
}
.two-col-special li:before {
    padding: 5px;
    margin-right: 5px; /* you can tweak the gap */
    color: orange;
    background-color: white; /* in case you want a color... */
    display: inline-block;
}

.review-section {
  display: inline-block;
}

.reviewWell {
  width: 457px;
}

#listings {
  position: relative;
  top: 5px;
  left: 35px;
}

.btnGreen {
  background-color: #2E8B57;
  color: white;
  margin: 5px;
  float: right;
}

#navColor {
  padding-top: 15px;
  height: 90px;
  background-color: #2E8B57;
  line-height: 45px;
  text-align: center;
  color:white;
  font-size:24px;
  font-family: 'Pacifico', cursive;
}

.navbar-title {
  color: white;
  font-size: 40px;
  text-decoration: none;
  margin-left: 30px;
}

footer {
  background-color: #2E8B57;
  border-color: #8AC453;
  color: white;
  margin-top: 45px;
  width: 100%;
}

.btn-stretch {
  width: 100%;
}

.btn-primary {
  background-color: #EA523A;
  border: #EA523A;
}

.btn-primary:active {
  background-color: #F7BC3E;
  border: #F7BC3E;
}

.btn-primary:hover {
  background-color: #F7BC3E;
}

.form-heading {
  text-align: center;
  color: #EA523A;
}

.feature-home {
  height:300px;
}

.panel-body {
  height: 400px;
}

.listing-info-panel {
  min-height:650px;

}

.listing-map-panel {
  height: 380px;
}
.caro-solo {
  height: 340px;

}

.carousel {
  height: 350px;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: 200px;
  border-radius:5px;
  max-height: 400px;
}

.image-header {
  padding-bottom: 3px;
  font-size:24px;
  text-transform: capitalize;
  text-align: center;
}

.glyphicon-tree-deciduous, .glyphicon-tent {
  font-size:30px;
}

ul {
  list-style: none;
}

li a {
  text-decoration: none;
  color: white;
}

.btn-wide {
  width:48%;
  margin-right:3px;
}
.control-group.form-inline:nth-child(odd) {
  float: right;
}
.listing-bold {
  color: #3BAEDB;
  font-weight: bold;
}
.listing-head, .image-header {
  color: #EA523A;
  font-weight: bold;
  text-align: center;
}

.description-list-body {
  text-align: left;
}

/*.star {
  color: orange;
  float: right;
}*/

/* LISTING STYLING */

.listWell {
  height: 350px;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

#listName {
  position: relative;
  bottom: 100px;
  left: 15px;
  font-size: 20px;
  color: black;
}

#listDescription {
  position: relative;
  bottom: 107px;
  left: 15px;
  font-size: 12px;
  color: black;
}


#listPrice {
  width: 60px;
  height: 45px;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  background-color: gray;
  color: white;
  position: relative;
  bottom: 90px;
  opacity: .95;
}

#hostPic img {
  position: relative;
  bottom: 90px;
  left: 270px;
  height: 60px;
  width: 60px;
  border-style: solid;
  border-width: 4px;
  border-color: white;
  background-color: white;
}

/* END LISTING */

#map-canvas {
  height:350px;
  width:620px;
}
