
<video autoplay loop poster="polina.jpg" id="bgvid">
<source src="http://i.imgur.com/Etmc0hf.webm" type="video/webm">
</video>

<div id="backgroundGif">
  <div id="homeGreet">
  <p>
    <p>Wake Up to the Unexpected</p>
    <h3>Explore our collection of destinations near Portland.</h3>

  </p>
    {{#link-to 'listings'}}<button class="btn btnGreen btn-md btnHome">Scout</button>{{/link-to}}
  </div>

</div>
