<div class="container home-page-main">


  {{!-- <h3>{{#link-to 'listings'}}Jump to all Current Listings{{/link-to}}</h3> --}}
  <div class="row">
    <div class="col-lg-4 feature-home">
      <div class="panel panel-default text-center">
        <div class="panel-body">
          <span class="glyphicon glyphicon-ok"></span>
          <h4>This is heading section 1</h4>
          <p>This is text for section 1</p>
        </div><!-- end of panel-body div -->
      </div><!-- end of panel-default div -->
    </div>

    <div class="col-lg-4 feature-home">
      <div class="panel panel-default text-center">
        <div class="panel-body">
          <span class="glyphicon glyphicon-heart"></span>
          <h4>This is heading section 2</h4>
          <p>This is text for section 2</p>
        </div><!-- end of panel-body div -->
      </div><!-- end of panel-default div -->
    </div>

    <div class="col-lg-4 feature-home">
      <div class="panel panel-default text-center">
        <div class="panel-body">
          <span class="glyphicon glyphicon-star"></span>
          <h4>This is heading section 3</h4>
          <p>This is text for section 3</p>
        </div><!-- end of panel-body div -->
      </div><!-- end of panel-default div -->
    </div>

  </div><!-- end of panel row1 -->



</div><!-- end of main container div -->
