<div class="container home-page-main">

  <div align="center"><!-- big image -->
    <div class="header-image"><img src="https://drscdn.500px.org/photo/83433657/m%3D2048/af61e87581c2fd38e165a22c3653aa43"></div><!-- end of big image-->
  </div><!-- end of center image class-->

  <p id="homeGreet">
    <h1>Escape for the Weekend</h1>
    <h3>Explore our collection of weekend destinations near Portland.</h3>
  </p>


  {{!-- <h3>{{#link-to 'listings'}}Jump to all Current Listings{{/link-to}}</h3> --}}
  <!-- <div class="row">
    <div class="col-lg-4 feature-home">
      <div class="panel panel-default text-center">
        <div class="panel-body">
          <span class="glyphicon glyphicon-ok"></span>
          <h4>This is heading section 1</h4>
          <p>This is text for section 1</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 feature-home">
      <div class="panel panel-default text-center">
        <div class="panel-body">
          <span class="glyphicon glyphicon-heart"></span>
          <h4>This is heading section 2</h4>
          <p>This is text for section 2</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 feature-home">
      <div class="panel panel-default text-center">
        <div class="panel-body">
          <span class="glyphicon glyphicon-star"></span>
          <h4>This is heading section 3</h4>
          <p>This is text for section 3</p>
        </div>
      </div>
    </div>

  </div> -->



</div><!-- end of main container div -->
