<div id="login">
  <form>
    <div class="form-group">
      <label for="username">Username</label>
      {{input value=name id="name" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      {{input value=ownerName id="ownerName" class="form-control"}}
    </div>
   {{#link-to 'listings'}}<button class="btn btnGreen btn-stretch">Submit</button>{{/link-to}}
  </form>
</div>
